<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Consultation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include any CSS libraries or stylesheets here -->
</head>
<body>

<div class="container">
    <h1>Add Consultation</h1>

    <form action="/addConsultation" method="post" th:object="${consultation}">
        <div class="form-group">
            <label for="dossierMedicaleId">Dossier Médical:</label>
            <select id="dossierMedicaleId" name="dossierMedicaleId" class="form-control">
                <option th:each="dossierMedicale : ${dossierMedicales}" th:value="${dossierMedicale.numeroDossier}" th:text="${dossierMedicale.numeroDossier}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="dateConsultation">Date Consultation:</label>
            <input type="date" id="dateConsultation" name="dateConsultation" class="form-control" th:field="*{dateConsultation}"/>
        </div>

        <div class="form-group">
            <label for="typeConsultation">Type Consultation:</label>
            <select id="typeConsultation" name="typeConsultation" class="form-control" th:field="*{typeConsultation}">
                <option th:each="typeConsultation : ${typeConsultations}" th:value="${typeConsultation}" th:text="${typeConsultation.toString()}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="montantTotal">Montant Total:</label>
            <input type="number" id="montantTotal" name="montantTotal" class="form-control"/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/profile" class="btn btn-secondary">Retour</a>
        </div>
    </form>
</div>

</body>
</html>
