<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Consultation</title>
</head>
<body>

<h1>Add Consultation</h1>

<form action="/addConsultation" method="post" th:object="${consultation}">

    <label for="dossierMedicaleId">Dossier Medicale:</label><br>
    <select id="dossierMedicaleId" name="dossierMedicaleId">
        <option th:each="dossierMedicale : ${dossierMedicales}" th:value="${dossierMedicale.numeroDossier}" th:text="${dossierMedicale.numeroDossier}"></option>
    </select><br>

    <label for="dateConsultation">Date Consultation</label>
    <input type="date" id="dateConsultation" name="dateConsultation" th:field="*{dateConsultation}"/><br>

    <label for="typeConsultation">Type Consultation</label>
    <select id="typeConsultation" name="typeConsultation" th:field="*{typeConsultation}">
        <option th:each="typeConsultation : ${typeConsultations}"
                th:value="${typeConsultation}"
                th:text="${typeConsultation.toString()}"></option>
    </select><br>



    <input type="submit" value="Submit">
</form>

</body>
</html>
