<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Dossier</title>
</head>
<body>

<form action="/addDossierMedical" method="post" th:object="${dossierMedical}">
    <label for="dateCreation">Date de création</label>
    <input type="date" id="dateCreation" name="dateCreation" th:value="${dossierMedical.dateCreation}"><br>

    <label for="StatusPaiment">Status de paiment</label>
    <select id="StatusPaiment" name="statusPaiment">
        <option th:each="status : ${statusPaiments}" th:value="${status}" th:text="${status}"></option>
    </select><br>

    <label for="dentiste">Dentiste</label>
    <select id="dentiste" name="dentiste">
        <option th:each="dentiste : ${dentistes}" th:value="${dentiste.id_personne}" th:text="${dentiste.toString()}"></option>
    </select><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
