<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Intervention Medical</title>
</head>
<body>
<h1>Add Intervention Medical</h1>

<form action="/addIntervention" method="post" th:object="${intervention}">
    <div>
        <label for="noteMedecin">Note Medecin:</label><br>
        <input type="text" id="noteMedecin" name="noteMedecin" th:field="*{noteMedecin}"><br><br>
    </div>

    <div>
        <label for="prixPatient">Prix Patient:</label><br>
        <input type="number" id="prixPatient" name="prixPatient" th:field="*{prixPatient}"><br><br>
    </div>

    <div>
        <label for="dent">Nombre de Dents:</label><br>
        <select id="dent" name="dent" th:field="*{dent}">
            <option th:each="i : ${#numbers.sequence(1, 32)}" th:value="${i}" th:text="${i}"></option>
        </select><br><br>
    </div>

    <label for="consultations">Consultation:</label>
    <select id="consultations" name="consultationId">
        <option th:each="consultation : ${consultations}"
                th:value="${consultation.idConsultation}"
                th:text="${consultation.idConsultation} + ' ' + ${consultation.typeConsultation}"></option>
    </select><br><br>

    <div>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </div>
</form>
</body>
</html>