<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient details</title>
</head>
<body>

<h1>Patient details</h1>

<div th:if="${actes != null}">
    <table border="1">
        <tr>
            <th>Acte</th>
            <th>Category acte</th>
            <th>Prix de base</th>
            <th>Libelle</th>
        </tr>
        <tr th:each="acte : ${actes}">
            <td th:text="${acte.idActe}"></td>
            <td th:text="${acte.categorieActe}"></td>
            <td th:text="${acte.prixDeBase}"></td>
            <td th:text="${acte.libelle}"></td>
    </table>
</div>
<div th:if="${actes == null}">
    <p>No actes found</p>


</body>
</html>