<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>

<h1>User Profile</h1>

<div class="userDetails" th:if="${dentiste != null}">
    <p>Username: <span th:text="${dentiste.getNomUtilisateur()}"></span></p>
    <p>Email: <span th:text="${dentiste.getEmail()}"></span></p>
    <p>First Name: <span th:text="${dentiste.getNom()}"></span></p>
    <p>Last Name: <span th:text="${dentiste.getPrenom()}"></span></p>
    <p>Phone: <span th:text="${dentiste.getTelephone()}"></span></p>
    <p>Address: <span th:text="${dentiste.getAdresse()}"></span></p>
    <a href="/editProfile">Edit Profile</a>
    <a href="/logout">Logout</a>
</div>

<div>
    <a href="/patients">Patients</a>
    <a href="/CRUDdentiste">Details</a>
    <a href="/addDossierMedical">Ajouter un patient avec dossier medical</a>
</div>



</body>
</html>
